<html>
<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post" action="addAct">
        <input type="text" name="text" placeholder="введите текст">
        <input type="tag" name="tag" placeholder="Тег">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="введите текст">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">найти</button>
</form>

<div>Список Активностей</div>
<table>
    <tr>
        <th>id</th>
        <th>text</th>
    </tr>
    {{#activities}}
        <tr>
            <td>
                {{id}}
                {{text}}
                {{authorName}}
            </td>
        </tr>
    {{/activities}}

</table>
</body>
</html>